.container {

    #about-me {
        width: 100%;
        padding: 2rem;
        background: $primary;
        box-shadow: -5px -5px 1rem black, 5px 5px 1rem black;
        @include marginAuto;
        @include box-border;

        .content-box {
            margin-top: 2rem;
            @include flex(row nowrap, space-evenly, none);

            .photo img {
                max-width: 80%;
                height: auto;
                border-radius: 10px;
                user-select: none;
            }

            .text {
                width: 100%;
                @include flex(column wrap, flex-start, center);
                @include transition(0.3s);

                &-primary {
                    padding-bottom: 1rem;
                    border-bottom: 2px solid $secondary;
                }

                &-more {
                    overflow: hidden;

                    &_txt {
                        height: 0;
                        transform: translateY(-100%);
                        @include transition(0.5s);

                        & a:hover {
                            @include pointer;
                        }

                        &.active {
                            height: fit-content;

                            &.show {
                                transform: translateY(0);
                                @include padding-y(0.5rem);
                            }
                        }
                    }
                }
            }
        }
    }
}