.aboutMe {
    @include min-size;
    margin-bottom: 10vh;
    @include flex(row nowrap, space-evenly, center);

    .text {
        width: 50vw;
        height: auto;
        color: #000;
        @include flex(row wrap, flex-start, flex-start);

        &-name {
            padding: 0 5vw 5vh 5vw;
            font-size: 70px;
            font-family: $font-handwrite;
            border-bottom: 1px solid $color-ink;
        }   

        &-undername {
            padding: 2vh 3vw 10vh 3vw;
            font-size: 40px;
            font-family: $font-handwrite;
        }

        &-about {
            padding: 2vh 3vw;

            p {
                font-size: 20px;
                font-family: $font-primary;
                padding: 1vh 0;

                a {
                    color: $color-black_tr;

                    &:hover {
                        cursor: pointer;
                        color: $color-black;
                        border-bottom: 1px solid $color-yellow;
                    }
                }
            }
        }
    }

    .image {
        position: relative;
        width: 30vw;
        height: fit-content;
        margin: 5vh 0;

        &-photo {
            position: relative;
            z-index: 1;
            width: 100%;
            height: auto;

            img {
                width: 100%;
                height: auto;
            }
        }

        &-bg {
            position: absolute;
            z-index: 0;
            top: -10%;
            right: -10%;
            width: 100%;
            height: 100%;
            border: 10px solid transparent;
            border-image: linear-gradient(to bottom right, rgb(20, 10, 100), rgb(150, 50, 200));
            border-image-slice: 1;
        }
    }
}