.levelArt {
    width: 100vw;
    min-height: 100vh;
    background: linear-gradient(to left, rgba(20, 20, 20, 0.7), rgba(20, 20, 20, 0.9)), url('../images/levelart-bg.jpg');
    @include bg;

    h1 {
        font-family: $font-gothic;
        font-size: 2vw;
        text-align: center;
        padding: 10vh 0;

        a {
            opacity: 0.9;
            border-bottom: 1px solid transparent;
            @include trans(0.3s);

            &:hover {
                opacity: 1;
                border-bottom: 1px solid rgb(255, 255, 0);
            }
        }
    }

    .list {
        padding: 0 0 10vh 0;
        @include flex(row wrap, center, center);

        &-item {
            width: 40vw;
            height: auto;
            padding: 1vh 1vw;

            .img-zoom {
                width: 100%;
                height: auto;
                @include trans(0.4s);

                &:hover {
                    cursor: zoom-in;
                }

                &.zoom-in {
                    position: fixed;
                    z-index: 11;
                    left: 0;
                    top: 0;
                    width: 100vw;
                    height: auto;

                    &:hover {
                        cursor: zoom-out;
                    }
                }
            }
        }
    }
}