#overlay {
    position: fixed;
    z-index: 20;
    @include min-size;
    background-color: rgba(0, 0, 0, 0.9);

    #progress-status {
        width: 100%;
        margin: 40vh auto;
        text-align: center;

        font-size: 2vw;
        font-family: $font-handwrite;
        letter-spacing: 2px;
        color: $color-white;
    }

    #progress {
        height: 3px;
        background: $color-orange;
        position: absolute;
        width: 0;
        top: 50%;
    }
}