#overlay {
    position: fixed;
    z-index: 20;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);

    #progress-status {
        width: 100%;
        margin: 40vh auto;
        text-align: center;

        font-size: 2vw;
        letter-spacing: 2px;
    }

    #progress {
        height: 3px;
        background: #fff;
        position: absolute;
        width: 0;
        top: 50%;
    }
}