.nav{
    width: 100%;
    position: fixed;
    z-index: 1;
    @include transition(0.7s);


    &-button{
        position: fixed;
        visibility: hidden;
        z-index: 1;
        right: 2rem;
        top: 2rem;
        height: 20px;
        width: 28px;
        @include transition(0.7s);

        &:hover{
            @include pointer;
        }
    
        &_burger{
            right: 20px;
            top: 20px;
            width: 28px;
            height: 3px;
            background: #fff;
            @include transition(0.7s);
    
            &::before{
                content: '';
                position: absolute;
                top: -8px;
                width: 28px;
                height: 3px;
                background: #fff;
                @include transition(0.7s);
            }
            &::after{
                content: '';
                position: absolute;
                top: 8px;
                width: 20px;
                height: 3px;
                background: #fff;
                @include transition(0.7s);
            }
            &.open{
                transform: rotate(720deg);
                background: transparent;
    
                &::before{
                    transform: rotate(45deg) translate(5px, 8px);
                }
                &::after{
                    width: 28px;
                    transform: rotate(-45deg) translate(3px, -7px);
                }
            }
        }
    }

    &-bar{
        @include flex(row nowrap, space-evenly, center);
        overflow: hidden;

        &_item{
            font-size: 1.4rem;
            @include padding-y(1rem);
            @include weight(bold);

            a{
                @include transition(0.3s);

                &:hover{
                    @include pointer;
                    color: $secondary;
                }
            }
        }
    }
    &.active{
        position: fixed;
        z-index: 1;
        background-color: #000;
        box-shadow: 3px 3px 6px #000;
    }
}