@keyframes arrow-animation {
    0%{transform: translateY(0%);}
    50%{transform: translateY(30%);}
    100%{transform: translateY(0%);}
}

@keyframes react-rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}  

body {
    color: $font;
    font-family: 'Open Sans', sans-serif;
    background-color: $primary;
}

.button {
    color: $secondary;
    margin: 1.5rem;
    padding: 1rem;
    background: $primary;
    border: 2px solid $secondary;
    border-radius: 1rem;
    user-select: none;
    @include weight(bold);
    @include transition(0.3s);

    &:hover {
        color: $font;
        background: $secondary;
        cursor: pointer;
    }
}

.colored {
    color: $secondary;
}

.symbol {
    @extend .colored;
    @include padding-x(1rem);
}

.content {

    h1 {
        color: $secondary;
        font-size: 5rem;
        text-align: center;
        text-shadow: 2px 2px 2px #000;
        user-select: none;
        @include weight(bold);
        @include padding-y(2rem);
    }
}

#react {
    animation-name: react-rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.img {
    width: 30%;
    height: auto;
}
.img-big {
    width: 10%;
    height: auto;
}
.lang {
    position: absolute;
    z-index: 3;
    top: 10px;
    left: 10px;
    font-size: 0.7rem;
    padding: 5px;
    border: 2px solid #fff;
    @include transition(0.3s);

    &:hover {
        cursor: pointer;
        border: 2px solid $secondary;
    }
}
.goUp {
    position: fixed;
    z-index: 2;
    bottom: 0;
    right: 10px;
    font-size: 1rem;
    padding: 0.5rem;
    border: 2px solid $secondary;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateY(100%);
    opacity: 0.5;
    @include transition(0.3s);

    &:hover {
        cursor: pointer;
        opacity: 1;
        background-color: rgba(20, 20, 20, 0.9);
    }

    &.active {
        transform: translateY(0);
    }
}
