@keyframes arrow-animation {
    0%{transform: translateY(0%);}
    50%{transform: translateY(30%);}
    100%{transform: translateY(0%);}
}

@keyframes react-rotate {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}  

body {
    color: $font;
    font-family: 'Open Sans', sans-serif;
    background-color: $primary;
}

.button {
    color: $secondary;
    margin: 1.5rem;
    padding: 1rem;
    background: $primary;
    border: 1px solid $secondary;
    border-radius: 4rem;
    user-select: none;
    @include weight(bold);
    @include transition(0.3s);

    &:hover {
        color: $font;
        background: $secondary;
        cursor: pointer;
    }
}

.colored {
    color: $secondary;
}

.symbol {
    @extend .colored;
    @include padding-x(1rem);
}

.content {

    h1 {
        color: $secondary;
        font-size: 5rem;
        text-align: center;
        text-shadow: 2px 2px 2px #000;
        user-select: none;
        @include weight(bold);
        @include padding-y(2rem);
    }
}

#react {
    animation-name: react-rotate;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.img {
    width: 30%;
    height: auto;
}
.img-big {
    width: 10%;
    height: auto;
}