.container{

    #portfolio{
        width: 100%;
        padding-bottom: 10rem;
        padding-top: 3rem;
        user-select: none;

        .content{

            .list{
                width: 90%;
                @include flex(column wrap, center, center);
                @include marginAuto;
    
                &-item{
                    opacity: 0.5;
                    overflow: hidden;
                    @include padding-y(1rem);
                    @include flex(column wrap, center, center);
                    @include transition(0.4s);

                    &_photo {
                        width: 80%;
                        font-size: 0.8rem;
                        text-align: center;
                        padding-bottom: 1rem;
                        border-bottom: 2px solid $secondary;

                        &_x {
                            width: 30%;
                        }

                        & img {
                            border: 1px solid #000;
                            border-radius: 1rem;

                            &:hover  {
                                opacity: 0.8;
                                cursor: pointer;
                            }
                        }
                    }

                    &_desc {
                        width: 80%;
                        height: 0;
                        overflow: hidden;

                        &:hover {
                            cursor: default;
                        }

                        & p {
                            padding: 0.5rem;
                            background-color: rgba(20, 20, 20, 0.9);
                            transform: translateY(-100%);
                            @include transition(0.3s);
                        }

                        & .link-buttons {
                            text-align: center;
                            transform: translateY(-1000%);
                            @include transition(0.3s);
                            @include flex(row, center, center);

                            a {
                                padding: 1rem;
                                @include transition(0.3s);

                                &:hover {
                                    @include pointer;
                                }
                            }
                        }
                    }

                    &.active {
                        opacity: 1;

                        .list-item_desc {
                            height: fit-content;
                        }

                        &.show {

                            .list-item_desc p {
                                transform: translateY(0%);
                            }
                            .list-item_desc .link-buttons {
                                transform: translateY(0%);
                            }
                        }
                    }
                }
            }
        }
    }
}