.portfolio {
    @include min-size;

    .list {
        padding: 10vh 0;
        @include flex(row wrap, flex-start, flex-start);

        &-item {
            min-width: 50vw;
            min-height: 50vh;
            background-position: center;
            background-size: cover;

            &_info {
                width: 50vw;
                height: 50vh;
                padding: 2vh 2vw;
                opacity: 0;
                background-color: rgba(20, 20, 20, 0.8);
                color: $color-white;
                @include trans(0.4s);

                &_title {
                    text-align: center;
                    font-family: $font-titles;
                    font-size: 30px;
                    padding: 2vh 0;
                }

                &_description {
                    font-family: $font-primary;

                    p {
                        padding: 1vh 0;
                    }
                }

                &_links {
                    padding-top: 4vh;
                    @include flex(row nowrap, space-evenly, center);

                    a {
                        text-decoration: none;
                        h2 {
                            color: $color-hover;
                            font-family: $font-titles;
                            font-size: 30px;
                            letter-spacing: 3px;
    
                            &:hover {
                                color: $color-white;
                                border-bottom: 1px solid $color-yellow;
                                cursor: pointer;
                            }
                        }
                    }

                    a h1 {
                        font-size: 60px;
                        color: $color-white;
                        @include trans(0.5s);

                        &:hover {
                            transform: rotateY(180deg);
                        }
                    }
                }
            }

            &:hover {

                .list-item_info {
                    opacity: 1;
                }
            }
        }
    }
}