.container{

    #skills{
        width: 100%;
        padding: 4rem;
        background: $primary;
        box-shadow: -5px -5px 1rem black, 5px 5px 1rem black;
        user-select: none;
        @include marginAuto;
        @include box-border;

        .content{

            .list{
                text-align: center;
                @include flex(column wrap, center, center);

                &-item{
                    @include padding-y(4rem);

                    &_desc{
                        @include weight(bold);
                    }
                }
            }
        }
    }
}