.skills {
    width: 100vw;
    min-height: 100vh;
    margin: 5vh 0 10vh 0;
    @include flex(column wrap, space-between, center);

    &-main {
        width: 100%;
        margin: 0 auto;
        @include flex(row wrap, center, center);

        &_title {
            width: 100%;
            text-align: center;

            h1 {
                font-family: $font-titles;
                padding: 2vh 0;
            }
        }

        &_item {
            width: 30vw;
            height: auto;
            text-align: center;
            margin: 5vh 0;
            @include flex(column wrap, center, center);

            &_img img {
                width: 50%;
                height: auto;
                opacity: 0.7;
                @include trans(0.8s);

                &:hover {
                    opacity: 1;
                }
            }
            
            &_title {
                width: 75%;
                border-bottom: 1px solid rgb(150, 50, 200);
                font-family: $font-nav;
                font-size: 24px;
                letter-spacing: 3px;
                padding: 2vh 0;
            }

            &_description {
                width: 75%;
                font-size: 16px;
                font-family: $font-primary;
                padding: 1vh 0;
            }
        }
    }

    &-second {
        margin: 10vh 0;
        @include flex(row wrap, space-between, center);

        &_img {
            position: relative;
            width: 30vw;

            .photo {
                position: relative;
                z-index: 1;
                width: 100%;
                height: auto;

                img {
                    width: 100%;
                    height: auto;
                    border-bottom: 2px solid rgb(150, 50, 200);
                    border-right: 2px solid rgb(20, 10, 100);
                }
            }

            .photo-bg {
                position: absolute;
                z-index: 0;
                top: -10%;
                left: -10%;
                width: 100%;
                height: 100%;
                background: linear-gradient(to left, rgb(20, 10, 100), rgb(150, 50, 200));
            }
        }

        &_list {
            width: 50vw;
            margin: 0 2vw;
            @include flex(row wrap, center, center);

            &_title {
                @extend .skills-main_title;
            }

            &_item {
                width: 20vw;
                padding: 2vh 2vw;
                height: auto;
                text-align: center;
                @include flex(column wrap, center, center);

                &_img {
                    opacity: 0.7;
                    @include trans(1s);

                    img.img-sm {
                        width: 5vw;
                        height: auto;
                    }

                    img.img-big {
                        width: 12vw;
                        height: auto;
                    }
    
                    &:hover {
                        opacity: 1;
                    }
                }

                &_title {
                    @extend .skills-main_item_title;
                    font-size: 16px;
                }

                &_description {
                    @extend .skills-main_item_description;
                    font-size: 14px;
                }
            }
        }
    }
}