.container{
    width: 100%;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.6)), url('../images/main-bg.jpg') top center;
    background-repeat: no-repeat;

    .title{
        width: 90%;
        height: 90vh;
        @include flex(column wrap, center, center);
        @include marginAuto;
        text-align: center;
        font-size: 2rem;

        .name{
            width: 85%;
            @include weight(500);
            @include padding-y(1rem);
            border-bottom: 1px solid $font;
        }
        .surname{
            @include weight(700);
            color: $secondary;
        }
        .undername{
            @include flex(row nowrap, space-evenly, center);
            @include padding-y(0.8rem);

            h2, span{
                font-size: 1.2rem;
            }
        }
    }

    .see-more{
        margin: 1rem;
        text-align: center;
        animation-name: see-more;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
}