.container {
    width: 100%;
    background: linear-gradient(to right, rgba(20, 20, 20, 0.9), rgba(20, 20, 20, 0.6)), url('../images/main-bg.jpg') top center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    .title {
        width: 90%;
        height: 85vh;
        font-size: 2rem;
        text-align: center;
        user-select: none;
        @include flex(column wrap, center, center);
        @include marginAuto;

        .name {
            width: 85%;
            border-bottom: 1px solid $font;
            @include weight(500);
            @include padding-y(1rem);
        }

        .surname {
            color: $secondary;
            @include weight(700);
        }

        .undername {
            @include flex(row nowrap, space-evenly, center);
            @include padding-y(0.8rem);

            h2, span {
                font-size: 1.2rem;
            }
        }
    }

    .see-more {
        margin: 2rem;
        text-align: center;
        animation-name: arrow-animation;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
}