@keyframes fade-in-right {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-left {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fade-in-top {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.scroll {
    opacity: 0;
}

.scroll.scrolled {
    animation: fade-in 1s ease-in-out both;
}

.scrolled.fade-in-right {
    animation: fade-in-right 1s ease-in-out both;
}

.scrolled.fade-in-left {
    animation: fade-in-left 1s ease-in-out both;
}

.scrolled.fade-in-top {
    animation: fade-in-top 0.4s ease-in-out both;
}

.content {
    overflow: hidden;
}